* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #c7cbe4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 800px;
    padding: 5rem 0;
}

.top-box {
    width: 109%;
    position: relative;
    right: 13px;
    top: 102px;
}

.top-box img {
    width: 100%;
}

.content {
    width: 850px;
    height: 650px;
    border-radius: 50px;
    background-color: #fff;
    background-image: linear-gradient(90deg, #d57589, #ffc7a3);
    box-shadow: -77px 40px 105px 23px #b09bd4;
    padding: 3rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    font-size: 0.9rem;
}

.nav ul li a {
    color: #fff;
}

.nav ul li a:hover {
    color: black;
}

.active {
    background-color: #ff676e;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.nav-title h2 {
    text-transform: uppercase;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.item img {
    width: 100%;
}

.item {
    border-radius: 20px 5px 15px 15px;
    box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.2);
    transition: all 100ms;
}

.item:hover{
    transform: scale(1.05);
}

.item:nth-child(even) {
    border-radius: 5px 20px 15px 15px;
}

.item:nth-child(1) {
    background-image: linear-gradient(90deg, #ddcfd0, #f9e2d2);
}

.item:nth-child(2) {
    background-image: linear-gradient(90deg, #bf92f1, #e4b3fa);
}

.item:nth-child(3) {
    background-image: linear-gradient(90deg, #69e7b7, #9fffd6);
}

.item:nth-child(4) {
    background-image: linear-gradient(90deg, #febea7, #fdf5d2);
}

.item:nth-child(5) {
    background-image: linear-gradient(90deg, #fd556b, #ff8e80);
}

.item:nth-child(6) {
    background-image: linear-gradient(90deg, #f89e27, #ffd054);
}

.item:nth-child(7) {
    background-image: linear-gradient(90deg, #bf92f1, #e4b3fa);
}

.item:nth-child(8) {
    background-image: linear-gradient(90deg, #febea7, #fdf5d2);
}

.label {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 1rem 2rem;
}